@font-face {
  font-family: 'gilroy';
  src: url('./assets/fonts/fonts/gilroy-bold-webfont.woff2') format('woff2'),
      url('./assets/fonts/fonts/gilroy-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy';
  src: url('./assets/fonts/fonts/gilroy-regular-webfont.woff') format('woff2'),
      url('./assets/fonts/fonts/gilroy-regular-webfont.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: gilroy, serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #f4bd57 0%, #d08412 100%);
  /* background: linear-gradient(#bc581e, #e27b36); */
}

.create {
  font-size: 30px;
  text-align: center;
  color: #3c1414;
}

.price {
  font-size: 30px;
  color: #3c1414;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}